/nbproject
/node_modules
./node_modules
/public/assets/libs
./public/assets/libs
/bower_components
./bower_components
/server/logs/server-log
./server/logs/server-log
npm-debug.log
.directory
.jshintrc
/public/dist
/server/api/private.js