<div class="container">
    <form class="form-signin" name="searchFrm" role="form">
        <div class="row">
            <div class="form-group col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                <label for="search.search" class="sr-only">Card Name</label>
                <input ng-model="search.search" type="text" id="search.search" class="form-control" placeholder="Card Name" required autofocus/>
                <button class="btn btn-lg btn-primary btn-block" type="ng-submit" ng-disabled="searchFrm.$invalid" ng-click="search.searchSubmit(search.search)">Search</button>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="table-responsive"
             ng-show="search.cards.length !== 0"
             style="margin: 0 auto !important; float: none !important;">
            <table>
                <thead>
                    <tr>
                        <td>
                            <strong>Card Name</strong>
                        </td>
                        <td class="text-center">
                            <strong>Card Image</strong>
                        </td>
                    </tr>
                </thead>
                <tr ng-repeat="card in search.cards track by $index">
                    <td>
                        {{card.name}}
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-3" ng-repeat="edition in card.editions track by $index" ng-show="{{edition.multiverse_id}} != 0">
                                <a  ng-href="{{edition.store_url}}"><img   class="img-responsive" ng-src="{{edition.image_url}}"/></a>
                            </div>
                        </div>

                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>