<div>Register</div>

<div class="container">
    <form class="form-signin" name="registrationFrm">
        <h2 class="form-signin-heading">Please Register</h2>
        
        <h3>First Name</h3>
        <label for="register.firstName" class="sr-only">Email address</label>
        <input ng-model="register.firstName" type="text" id="firstName" class="form-control" placeholder="First Name" required autofocus/>
        
         <h3 class="form-signin">Last Name</h3>
        <label for="register.lastName" class="sr-only">Last Name</label>
        <input ng-model="register.lastName" type="text" id="lastName" class="form-control" placeholder="Last Name" required/>
        
        <h3 class="form-signin">Email</h3>
        <label for="register.email" class="sr-only">Email address</label>
        <input ng-model="register.email" type="email" id="email" class="form-control" placeholder="Email address" required/>
        
         <h3 class="form-signin">Zip Code</h3>
        <label for="register.zipCode" class="sr-only">Zip Code</label>
        <input ng-model="register.zipCode" type="text" id="zipCode" class="form-control" placeholder="Zip Code" required/>
        
        <h3 class="form-signin">Password</h3>
        <label for="register.password" class="sr-only">Password</label>
        <input ng-model="register.password" type="password" id="password" class="form-control" placeholder="Password" required/>
        <h3></h3>
        
        <button class="btn btn-lg btn-primary btn-block" type="ng-submit" ng-disabled="registrationFrm.$invalid" ng-click="registerSubmit()">Register</button>
    </form>
</div>