<div class="form-group">
    <div class="container">
        <form name="tradeBinderCollectionFrm">

            <label for="tradeBinder.addList"> Card Input:</label>
            <textarea name="tradeBinder.addList" class="form-control" ngList ng-model="tradeBinder.addList" placeholder="Black lotus" required>
            
            </textarea>
            <button class="btn btn-lg btn-primary btn-block" ng-disabled="tradeBinderCollectionFrm.$invalid" ng-click="tradeBinder.addCards(tradeBinder.addList)">Add Cards</button>
        </form>

        <div class="row">
            <div class="col-md-3">
                Card Name
            </div>

            <div class="col-md-2">
                # Have
            </div>
            <div class="col-md-3">
            </div>

        </div>
        <div class="row" ng-repeat="card in tradeBinder.cards track by $index">
            <div class="col-md-3">{{card.name}}</div>
            <div class="col-md-2">
                {{card.ownedQuantity}}
                <div class="btn-group-vertical">
                    <button type="button" ng-click="tradeBinder.upQuantity(card)" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
                    <button type="button" ng-click="tradeBinder.lowerQuantity(card)" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                </div>
            </div>
            <div><button class="btn" ng-click="tradeBinder.removeCard(card)"><i class="fa fa-trash-o fa-lg"></i></button></div>
        </div>
    </div>
</div>
